body {
    font-family: Arial, sans-serif;
    background-color: #f0f9f8;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.left-column {
    width: 30%;
    background-color: #e7f4e4;
    padding: 20px;
    border-radius: 8px;
}

.left-column h2 {
    color: green;
}

.right-column {
    width: 68%;
    background-color: #b3e5fc;
    padding: 20px;
    border-radius: 8px;
}

button {
    background-color: #00796b;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #004d40;
}

#page-content {
    margin-top: 30px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #00796b;
}

a:hover {
    text-decoration: underline;
    color: #004d40;
}
